---
import Layout from '../layouts/Layout.astro';
import BlogCard from '../components/blog/BlogCard.astro';
---

<Layout>
  <div class="mt-12">
    <p class="mb-8 content-start font-sans text-2xl">ブログ</p>

    <div class="grid grid-cols-1 gap-8 sm:grid-cols-2">
      <BlogCard
        authorName="laminne"
        authorIconURL="https://github.com/laminne.png"
        createdAt="Apr. 20 2025"
        coverImageURL="https://laminne33569.net/kcms.png"
        tags={['ネットワーク', '活動報告']}
        title="あいうえおかきくけこあいうえおかきくけこあいうえおかきくけこあいうえおかきくけこ"
      />
    </div>
  </div>
</Layout>
