---
import Section from '@components/home/Section.astro';
import Table from '@components/home/Table.astro';
import Banner from '@components/home/Banner.astro';
import WorkCard from '@components/home/WorkCard.astro';
import MemberContentCard from '@components/home/MemberContentCard.astro';
import MainLayout from '@layouts/MainLayout.astro';
import { formatDate } from 'src/utils/formatDate';
---

<MainLayout title="Poporon Network" description="Poporon Network">
  <Banner />
  <div class="text-center text-xl">
    Poporon Networkは組み込みから<br />
    Webアプリケーションまで幅広く活動している<br />
    技術趣味人によるサークルです．
  </div>
  <Section title="About" details="Poporon Network について">
    <Table
      data={[
        ['団体名', 'Poporon Network ( 読み: ポポロン ネットワーク )'],
        ['活動内容', '情報技術に関連した開発・研究活動'],
        ['代表', '定めなし'],
        ['設立年月日', '2022年 12月4日'],
        ['メンバー数', '9人 ( 2025年 3月現在 )'],
        ['活動場所', 'オンライン ( Discord )'],
      ]}
    />
    <p class="mt-6 text-lg">沿革</p>
    <Table
      data={[
        ['2022/12/04', '設立 ( P0p0r0n Netw0rk として )'],
        ['2023/03/16', '中国地区高専コンピュータフェスティバルに参加\n( Po²ron Network として )'],
        ['2023/04/21', '活動方針が決定される\n名称が Poporon Network に定まる'],
        ['2023/04/22', 'Discord サーバ開設'],
        ['2024/01/06', '第1回Matz葉がにロボコン 運営支援システムを開発\n大会運営に協力'],
        ['2024/10/25', '第1回どじょうすくいロボコン 運営支援システムを開発\n大会運営に協力'],
        ['2025/01/12', '第2回Matz葉がにロボコン 運営支援システムを開発\n大会運営に協力'],
      ].map(([date, ...rest]) => [formatDate(date), ...rest])}
    />
  </Section>
  <Section title="Blog" details="メンバーによるブログ">
    <p class="text-gray-600 italic">Coming soon...</p>
    <!-- <div class="flex flex-wrap justify-center gap-4">
      <BlogCard
        href="/blog/123"
        image="https://laminne33569.net/kcms.png"
        date="Apr. 20 2025"
        author="laminne"
        title="NGNを使っていい感じのネットワークを構築する"
        description='Poporon Networkの新しいプロジェクトとして"Poporon Open Network"を開始しました。'
        tags={['ネットワーク', '活動報告']}
      />
    </div> -->
  </Section>
  <Section title="Members" details="メンバー紹介">
    <div class="grid grid-cols-1 gap-4 sm:grid-cols-2">
      <MemberContentCard id="laminne" description="国人領主" />
      <MemberContentCard id="namekujitoiisyoubusiteru" description="domestic animals" />
      <MemberContentCard
        id="tufusa"
        description="型パズル士4級"
        class={{
          container: `transition-all duration-1000 hover:bg-[#121222]
            hover:text-white hover:[&_img]:rounded-[100%]
            hover:[&_.text-lg]:text-[#ff67a5] hover:[&_.text-lg]:duration-1000
            `,
          name: 'transition-all duration-100',
          icon: 'transition-all duration-1000',
        }}
      />
      <MemberContentCard id="Teselapfer" description="マンホールから抜け出せません" />
      <MemberContentCard id="speak-mentaiko" description="普通自動二輪" />
    </div>
  </Section>
  <Section title="Works" details="過去の制作物">
    <div class="flex flex-col items-center gap-4">
      <WorkCard
        title="kcmsx"
        subtitle="Matz葉がにロボコン\n大会運営システム"
        image="/kcmsx.png"
        description="小学生向けロボコン大会の運営支援・得点管理を行うシステム.\n設計・開発・当日運用を担当."
        github="poporonnet/kcmsx"
      />
      <WorkCard
        title="kaniwriter"
        subtitle="mruby/cプログラム書き込みツール"
        image="/kaniwriter.png"
        description="mrbwriteに則りブラウザでマイコンにmruby/cプログラムを書き込むツール群."
        github={['poporonnet/kaniwriter', 'poporonnet/kanicc']}
        site="https://ceres.epi.it.matsue-ct.ac.jp/writer"
      />
      <WorkCard
        title="discord-pure"
        subtitle="Discord REST APIラッパー"
        image=""
        description="DiscordのREST APIを叩くミニマルなTypeScriptパッケージ."
        github="poporonnet/discord-pure"
        site="https://www.npmjs.com/package/@poporonnet/discord-pure"
      />
    </div>
  </Section>
</MainLayout>
