---
import Layout from '../layouts/Layout.astro';
import Logo from '../../public/logo.svg?raw';
import '../assets/logo.css';
---

<Layout>
  <div class="my-32 [&>svg]:h-10">
    <Fragment set:html={Logo} />
  </div>
  <div class="flex w-full flex-col items-center">
    <p class="my-1 text-xl font-bold">About</p>
    <p>Poporon Networkについて</p>
    <hr class="my-2 h-px w-3/4 max-w-[40rem] border-0 bg-gray-300" />
    <table class="my-4 table-auto border-separate border-spacing-x-5">
      <tr>
        <td>団体名</td><td>Poporon Network ( 読み: ポポロン ネットワーク )</td>
      </tr>
      <tr><td>代表</td><td>定めなし</td></tr>
      <tr><td>設立年月日</td><td>2022年 12月4日</td></tr>
      <tr><td>メンバー数</td><td>8人 ( 2024年 5月現在 )</td></tr>
      <tr><td>活動場所</td><td>オンライン ( Discord )</td></tr>
    </table>
  </div>
</Layout>
