---
import Layout from '@layouts/Layout.astro';
import Section from '@components/home/Section.astro';
import Table from '@components/home/Table.astro';
import Banner from '@components/home/Banner.astro';
---

<Layout>
  <Banner />
  <div class="text-center text-xl">
    Poporon Networkは組み込みから<br />
    Webアプリケーションまで幅広く活動している<br />
    技術趣味人によるサークルです．
  </div>
  <Section title="About" details="Poporon Network について">
    <Table
      data={[
        ['団体名', 'Poporon Network ( 読み: ポポロン ネットワーク )'],
        ['代表', '定めなし'],
        ['設立年月日', '2022年 12月4日'],
        ['メンバー数', '8人 ( 2024年 5月現在 )'],
        ['活動場所', 'オンライン ( Discord )'],
      ]}
    />
    <p class="mt-6 text-lg">沿革</p>
    <Table
      data={[
        ['2022. Dec. 4', '設立 ( P0p0r0n Netw0rk として )'],
        [
          '2023. Mar. 16',
          '中国地区高専コンピュータフェスティバルに参加\n( Po²ron Network として )',
        ],
        ['2023. Apr. 21', '活動方針が決定される\n名称が Poporon Network に定まる'],
        ['2023. Apr. 22', 'Discord サーバ開設'],
        ['2024. Jan. 6', '第1回Matz葉がにロボコン 運営支援システムを開発\n大会運営に協力'],
        ['2024. Oct. 25', '第1回どじょうすくいロボコン 運営支援システムを開発\n大会運営に協力'],
        ['2025. Jan. 12', '第2回Matz葉がにロボコン 運営支援システムを開発\n大会運営に協力'],
      ]}
    />
  </Section>
  <Section title="Blog" details="メンバーによるブログ">
    <p class="text-gray-600 italic">Coming soon...</p>
    <!-- <div class="flex flex-wrap justify-center gap-4">
      <BlogCard
        href="/blog/123"
        image="https://laminne33569.net/kcms.png"
        date="Apr. 20 2025"
        author="laminne"
        title="NGNを使っていい感じのネットワークを構築する"
        description='Poporon Networkの新しいプロジェクトとして"Poporon Open Network"を開始しました。'
        tags={['ネットワーク', '活動報告']}
      />
    </div> -->
  </Section>
  <Section title="Members" details="メンバー紹介">
    <p class="text-gray-600 italic">Coming soon...</p>
    <!-- <div class="grid grid-cols-1 gap-4 sm:grid-cols-2">
      <MemberCard
        icon="https://avatars.githubusercontent.com/laminne"
        name="Cotori Yamamoto"
        description="国人領主"
        github="laminne"
        twitter="laminne33"
        website="laminne33569.net"
      />
    </div> -->
  </Section>
  <Section title="Works" details="過去の制作物">
    <p class="text-gray-600 italic">Coming soon...</p>
    <!-- <div class="flex flex-col items-center gap-4">
      <WorkCard
        title="kcmsx"
        subtitle={'Matz葉がにロボコン\n大会運営システム'}
        image="https://laminne33569.net/kcms.png"
        description={'小学生向けロボコン大会の運営支援・得点管理を行うシステム.\n企画・開発・当日運用のすべてを担当.'}
        github="poporonnet/kcmsx"
      />
    </div> -->
  </Section>
</Layout>
