---
interface Props {
  data: string[][];
}

const { data } = Astro.props;
---

<table class="table-auto border-separate border-spacing-x-5 [&_td]:p-0.25 [&_td]:align-text-top">
  {
    data.map((row): astroHTML.JSX.HTMLAttributes => {
      const cells = row.map((cell) =>
        cell
          .split('\n')
          .flatMap((s): astroHTML.JSX.HTMLAttributes[] => [<Fragment set:text={s} />, <br />])
      );
      return (
        <tr>
          {cells.map((cell) => (
            <td>{cell}</td>
          ))}
        </tr>
      );
    })
  }
</table>
