<header class="flex w-full flex-row flex-wrap items-baseline">
  <p class="text-xl">Poporont Network</p>
  <div class="flex-grow"></div>
  <div class="flex flex-row flex-wrap gap-4">
    <a href="#about">About</a>
    <a href="#members">Members</a>
    <a href="#works">Works</a>
  </div>
</header>
