<header class="flex w-full flex-row flex-wrap items-baseline">
  <p class="text-xl">Poporon Network</p>
  <div class="flex-grow"></div>
  <div class="flex flex-wrap gap-4">
    <a href="/#About">About</a>
    <a href="/#Members">Members</a>
    <a href="/#Works">Works</a>
    <a href="/blog">Blog</a>
  </div>
</header>
