<header class="sticky top-0 flex w-full flex-wrap items-baseline bg-white/70 py-1 backdrop-blur-xs">
  <p class="text-xl">Poporon Network</p>
  <div class="flex-grow"></div>
  <div class="flex flex-wrap gap-4">
    <a href="/#About">About</a>
    <a href="/#Members">Members</a>
    <a href="/#Works">Works</a>
    <a href="/blog">Blog</a>
  </div>
</header>
